body{
    background: beige;
}

#logo_vinted{
    height: 5em;
    margin-top: auto;
    margin-bottom: auto;
}

#header_nav{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    height: 80px;
}

.header_nav_icon{
    height: 1.5em;
    margin: auto;
}

.header_nav_img{
    height: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}

#nav_icon_block{
    display: flex;
}

#nav_icon_block{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;   
}

#logo{
    height: 100%;
}

#nav_searchbar{
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}

#searchbar{
    width: 100%;
}

#nav_list{
    display: flex;
    list-style: none;
    border-top: 1px solid rgb(212, 212, 212);
    border-bottom: 1px solid rgb(212, 212, 212);
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 0;
}

#nav_list li{
    margin-right: 1em;
}

#moreitems_section{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    border: 1px solid rgb(212, 212, 212);
}

#moreitems_section h1, #moreitems_section p{
    margin-left: 10px;
}

#customize_button{
    margin: 50%;
    width: 100%;
    background-color: rgb(12, 180, 188);
    padding: 2px;
    color: white;
    margin-left: 300%;
}

.grid{
    margin-top: 50px;
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
}

.grid img{
    border: 1px solid rgb(212, 212, 212);
    height: 100%;
    width: 100%;
    object-fit: cover;
}